<rubik-menu></rubik-menu>


<div class="jumbotron">
  <div class="container">
    <h2>What is this?</h2>
    <blockquote>
      <p>
        <img src="../assets/images/rubik.png" style="float:right">
        <strong>{{applicationName}}</strong> is a <em>small</em> project with a <strong>big</strong> purpose.
        <code>Create a set of useful components for future Angular2 Projects</code>
      </p>
      <footer>That's it my friend!</footer>
    </blockquote>
  </div>
</div>
<div class="container">
  <h2>Components</h2>

  <p>Here you will find the list of components made on Angular Rubik</p>
  <rubik-table></rubik-table>

</div>
