body {
  margin-top: 40px;
}

/* You can add global styles to this file, and also import other style files */
.app-loading {
  width: 100%;
  height: 100%;
  background-color: black;
  display: block;
  /* min-height: 1000px; */
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.app-loading p {
  text-align: center;
  color: #ffffff;
  font-family: Courier;
  font-size: 25px;
  position: relative;
  top: 30%;
}

.app-loading .spin {
  background: url('assets/images/angular_logo.png') no-repeat center;
  background-size: 90%;
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
  position: relative;
  top: 35%;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  border: 1px solid #333;
  height: 110px;
  padding-top: 10px;
  padding-left: 20px;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

header h1 {
  font-size: 3em;
  color: #efefef;
  text-shadow: #aaaaaa 1px 1px;
}

.logo {
  background: url('./assets/images/rubik.png') center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 45px;
  height: 45px;
  float: left;
  margin-right: 10px;
  margin-top: -10px;
}
